/* site formatting */

.about-page-content,
.about-page-component-container {
  height: 95vh;
  background-color: var(--backgroundBlue);
}

.about-page-component-container {
  height: 100%;
  width: 100%;
}

.about-page-content {
  padding-top: 5%;
}

.about-page-text-column {
  order: 1;
}
.about-page-image-column {
  order: 2;
}

@media (max-width: 768px) {
  .about-page-text-column {
    order: 2;
  }
  .about-page-image-column {
    order: 1;
  }
}
/* Headers and Text */

.about-page-stats-larger,
.about-page-stats-smaller {
  font-family: 'Josefin Sans', sans-serif;
}

.about-page-stats-larger {
  font-size: 3rem;
  font-weight: 600; 
  margin: 0px;
}

.about-page-stats-smaller {
  font-size: 1.5rem;
  font-weight: 400; 
  letter-spacing: -1.5px;
  line-height: -1;
}

/* Images */

.about-page-profile-image-container {
  height: 80%
}

/* Buttons */

.about-page-button {
  width: 15em;
  padding: 0.8em;
}