.footer-container {
  height: 6rem;
  background-color: white;
}

.footer-content {
  max-width: 1300px;
  background-color: transparent;
  padding:
   5px;
}

.footer-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
}


