.footer-container {
  padding: 10px 3px 3px 3px;
  height: 6rem;
  background-color: var(--backgroundBlue);
}

.footer-text-column {
  width: 30%;
}

.footer-logo-image {
  transition: opacity 0.1s ease-in;
}
.footer-logo-image:hover {
  opacity: 0.3;
}

.footer-content {
  max-width: 1300px;
  background-color: transparent;
  padding:
   5px;
}

.footer-title,
.footer-text,
.footer-text-hover-change {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  font-size: 1rem;
}

.footer-title {
  padding-bottom: 10px;
  font-weight: 400;
}
.footer-text {
  font-weight: 300;
  word-wrap: break-word;
  white-space: normal;
  padding-bottom: 5px;
}

.footer-text-hover-change {
  font-weight: 300;
  text-decoration: underline;
  color: inherit;
  display: pointer;
}

.footer-text-hover-change:hover {
  opacity: 0.7;
}

@media (max-width: 990px) {
  .footer-container {
    height: 9rem;
  }
}

