
:root {
  --textGrey: #323232;
  --red: #E24242;
  --green: #1BA55B;
  --yellow: #e2aa42;
  --blue: #42BCE2;
  --backgroundGreen: #e9f8f0;
  --backgroundBlue: #F0FAFF;
  --backgroundGrey: #F0F0F0;
  --popupGrey: #c4c3c3;
}

body {
  margin: 0;
  background-color: white;
  min-width: 100px;
}



