
:root {
  --textGrey: #323232;
  --red: #E24242;
  --green: #1BA55B;
  --yellow: #E2D242;
  --blue: #42BCE2;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  color: var(--textGrey);
  margin: 0;
  background-color: white;
  min-width: 320px;
  min-height: 200vh;
}

.main-content {
  padding-top: 70px;
}



