/* Site Formatting */

.projects-page-content,
.projects-page-component-container {
}

.projects-page-component-container {
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.projects-page-content {
  padding-top: 2%;
}

/* Headers & Text*/

.projects-page-project-description,
.projects-page-small-project-title,
.projects-page-project-title,
.project-page-project-paragraph,
.projects-page-sub-header {
  font-family: 'Josefin Sans', sans-serif;
}

.projects-page-project-title {
  font-size: 5rem;
  margin: 0;
  align-self: flex-end
}

.projects-page-small-project-title {
  font-size: 3rem;
  font-weight: 400; 
  letter-spacing: -2px;
}

.project-page-project-paragraph {
  font-size: 1.3rem;
  font-weight: 200; 
  padding-bottom: 1rem;
  letter-spacing: -1px;
}

.projects-page-sub-header-container {
  width: 100%;
  border-bottom: 1px solid var(--textGrey);
  margin-bottom: 10px;
}

.projects-page-sub-header {
  font-weight: 400; 
}



/* Images  */

.projects-page-social-media-image-container {
  margin-top: auto;
  width: auto;
  max-width: 20%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1.6rem;
}

.projects-page-social-media-image {
  max-height: 1.5rem;
  object-fit: contain;
  padding-right: 5px;
  transition: opacity 0.1s ease-in;
}

.projects-page-social-media-image:hover {
  opacity: 0.3;
}

.projects-page-small-icon-container {
  max-height: 3rem;
  max-width: 20%;
}

.projects-page-small-icon {
  transition: opacity 0.1s ease-in;
}
.projects-page-small-icon:hover {
  opacity: 0.3;
}

.projects-page-anchor-container {
  max-height: 100%;
  max-width: 25%;
  padding-bottom: 0.5rem;
}


.projects-page-tech-stack-images-container {
  height: 2.5em;
  width: 100%;
  overflow-y: auto;
  
  padding-bottom: 10px;
}

.projects-page-tech-stack-images {
  padding-right: 0.5em;
}

.projects-page-squiggle {
  max-height: 7.5em;
  height: 100%;
}

.project-navarrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  background-color: lightgray;
  transition: opacity 100ms ease-in-out, background-color 100ms ease-in-out; 
}

.project-navarrow-container:hover {
  opacity: 0.6;
  background-color: lightgray; 
}

/* Media Queries */

@media (min-width: 990px) {
  .projects-page-hideable-content {
    display: none;
  }
}

@media (max-width: 990px) {
  .projects-page-small-project-title,
  .projects-page-small-icon-container,
  .projects-page-small-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .projects-page-project-title {
    font-size: 4rem;
  }
  .projects-page-social-media-image-container {
    height: 60%;
    padding-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .projects-page-project-title {
    font-size: 3.1rem;
  }
  .projects-page-social-media-image-container {
    height: 45%;
    padding-bottom: 0.9rem;
  }
}


@media (max-width: 420px) {
  .projects-page-project-title {
    font-size: 2.5rem;
  }
  .projects-page-social-media-image-container {
    height: 45%;
    padding-bottom: 0.8rem;
  }
}

@media (max-width: 350px) {
  .projects-page-project-title {
    font-size: 2rem;
  }
  .projects-page-social-media-image-container {
    padding-bottom: 0.7rem;
  }
}

@media (max-width: 300px) {
  .projects-page-project-title {
    font-size: 1.5rem;
  }
}