html {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  color: var(--textGrey);
  scroll-behavior: smooth;
}

.component-content-container {
  width: 100%;
  max-width: 1300px;
  background-color: white;
}

/* Titles */

.main-paragraph,
.main-header {
  font-family: 'Josefin Sans', sans-serif;
}

.main-header {
  margin: 0;
  font-size: 6rem;
  letter-spacing: -2px;
}

.standard-bottom-padding {
  margin-bottom: 2.5rem;
}

.double-standard-bottom-padding {
  margin-bottom: 5rem;
}

.triple-standard-bottom-padding {
  margin-bottom: 7.5rem;
}

.main-paragraph {
  font-size: 1.3rem;
  font-weight: 200; 
}


/* Buttons */

.black-white-button-styling {
  font-family: 'Josefin Sans', sans-serif;
  border: solid 2px var(--textGrey);
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  text-decoration: none;
  cursor: pointer;
  color: var(--textGrey);
}

.black-white-button-styling:hover {
  border-color: transparent;
  background-color: var(--red);
  color: white;
  font-weight: 800;
}

/* Media Queries */

@media (max-width: 990px) {
  .main-header {
    font-size: 8rem;
    letter-spacing: -2px;
  }
}

@media (max-width: 767px) {
  .main-header {
    font-size: 6rem;
    letter-spacing: -2px;
  }
}

@media (max-width: 500px) {
  .main-header {
    font-size: 5rem;

  }

  .main-paragraph {
    font-size: 1.3rem;
  }
}