.component-content-container {
  width: 100%;
  max-width: 1300px;
  background-color: red;
}

.black-white-button-styling {
  border: solid 2px var(--textGrey);
  font-weight: 600;
  background-color: white
}