html {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  color: var(--textGrey);
}

.component-content-container {
  width: 100%;
  max-width: 1300px;
  background-color: white;
}

/* Titles */

.main-header {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -5px;
  
}

/* Buttons */

.black-white-button-styling {
  font-family: 'Josefin Sans', sans-serif;
  border: solid 2px var(--textGrey);
  font-weight: 600;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.black-white-button-styling:hover {
  border-color: transparent;
  background-color: red;
  color: white;
  font-weight: 800;
}
