
/* site formatting */
.splash-page-component-container {
  width: 100%;
  background-color: white;
  height: 85vh;
}

.splash-page-content {
  padding-top: 2%;
  height: 85vh;
}

/* Headers */

.splash-page-main-header,
.splash-page-sub-header {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -5px;
}

.splash-page-main-header {
 font-size: 6.5rem;
 font-weight: 400;
}


.splash-page-sub-header {
  font-size: 1.5rem;
  font-weight: 300; 
  letter-spacing: -1px;
  padding-bottom: 2em;
}

@media (max-width: 768px) {
  .splash-page-main-header {
    font-size: 4rem;
  }
}

/* Images */

.splash-page-social-media-image-container {
  width: 10%;
  padding-bottom: 2.5em;
}

.splash-page-social-media-image {
  height: 10%;
}

.splash-page-profile-image-container {
  height: 50%;
  position: absolute;
  z-index: 2;
}

.splash-page-profile-image {
  border-radius: 50%;
}

.splash-page-shapes-container {
 flex: 1;
 padding-top: 5%;
 padding-right: 10%;

}

.splash-page-button-container {
 width: 60%;
}

.splash-page-button {
  padding: 0.8em;
}


