/* site formatting */

.custom-col {
  flex: 0 0 auto;
}

.splash-page-content,
.splash-page-component-container {
  height: 75vh;
}

.splash-page-component-container {
  height: 100%;
  width: 100%;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  
}

.splash-page-content {
  padding-top: 4%;
}

.splash-page-image-column {
  display: flex;
  justify-content: center;
}

/* Headers */

.splash-page-main-header,
.splash-page-sub-header {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -5px;
}

.splash-page-main-header {
 font-size: 7rem;
 font-weight: 400;
}


.splash-page-paragraph-header,
.splash-page-sub-header {
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.splash-page-paragraph-header {
  font-weight: 300; 
}

.splash-page-sub-header {
  font-weight: 400; 
  width: 100%;
  border-bottom: 1px solid var(--textGrey);
}

/* Images */

.splash-page-social-media-image-container {
  width: 10%;
  padding-bottom: 2.5em;
  
}

.splash-page-social-media-image {
  height: 10%;
  padding-right: 0.2rem;
  transition: opacity 0.1s ease-in;
}

.splash-page-social-media-image:hover {
  opacity: 0.3;
}

.splash-page-profile-image-container {
  height: 80%
}

.splash-page-tech-stack-images-container {
  height: 3.5em;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 10px;
}

.splash-page-tech-stack-images {
  padding-right: 1em;
}

/* Buttons */

.splash-page-button-container {
  width: 60%;
 }

.splash-page-button {
  padding: 0.8em;
  text-decoration: none;
  cursor: pointer;
  color: var(--textGrey);
}


@media (max-width: 1200px) {
  .splash-page-main-header {
    font-size: 6rem;
  }

  .splash-page-profile-image-container {
    height: 65%;
  }

}

/* Here I would want to go to col-12 and hide the image*/

@media (max-width: 992px) {
  .splash-page-main-header {
    font-size: 8rem;
  }

  .splash-page-image-column {
    display: none !important;
  }

  .custom-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (max-width: 767px) {

  .splash-page-main-header {
    font-size: 7rem;
  }

  .splash-page-content,
  .splash-page-component-container {
    height: 80vh;
}
}

@media (max-width: 600px) {
  .splash-page-main-header {
    font-size: 6rem;
  }

  .splash-page-tech-stack-images {
    padding-right: 0.5em;
  }
}

@media (max-width: 500px) {
  .splash-page-main-header {
    font-size: 4.5rem;
  }
}

@media (max-width: 400px) {
  .splash-page-main-header {
    font-size: 4rem;
  }
}

/* Animation */

.hidden {
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-150px); /* Adjusted initial position */
  }
  to {
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}
.slide-left {
  animation: slideLeft 1s ease-in-out forwards;
}
.slide-right {
  animation: slideRight 1.5s ease-in-out forwards;
}
.initial-position {
  transform: translateX(-150px); /* Initial position */
}